*{
    color: white;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.quiz{
  margin-top: 20px;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
  border-color: #2A84F0;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: #2A84F0;
}


#logo{
  margin: auto;
  display: block;
  width: 60%;
}

#textDiv{
  height: 230px;
  text-align: center;
  position: relative;
  top: 1vh;
}

#textDiv > p{
  font-size: 18px;
  vertical-align: middle;
  line-height: normal
}



.list-group::-webkit-scrollbar {
  width: 5px;
}
.list-group::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.list-group::-webkit-scrollbar-thumb {
background-color: black;
outline: 1px solid slategrey;
}